<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dzjk.qzgw.dal.mapper.QzgwKeyManagerDOMapper">
    <!-- 自动生成,请修改 QZGW_KEY_MANAGER.xml -->
    <resultMap id="BaseResultMap"  type="com.dzjk.qzgw.dal.dataobject.QzgwKeyManagerDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR" javaType="String"/>
        <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" javaType="String"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" javaType="String"/>
        <result column="PUBLIC_KEY" property="publicKey" jdbcType="VARCHAR" javaType="String"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="PRIVATE_KEY" property="privateKey" jdbcType="VARCHAR" javaType="String"/>
        <result column="MODIFIED_TIME" property="modifiedTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,CREATOR,ORG_CODE,MODIFIER,PUBLIC_KEY,CREATE_TIME,PRIVATE_KEY,MODIFIED_TIME
    </sql>


    <!--插入表:QZGW_KEY_MANAGER-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO QZGW_KEY_MANAGER(
            ID
            ,CREATOR
            ,ORG_CODE
            ,MODIFIER
            ,PUBLIC_KEY
            ,CREATE_TIME
            ,PRIVATE_KEY
            ,MODIFIED_TIME
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{creator,jdbcType=VARCHAR}
            , #{orgCode,jdbcType=VARCHAR}
            , #{modifier,jdbcType=VARCHAR}
            , #{publicKey,jdbcType=VARCHAR}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{privateKey,jdbcType=VARCHAR}
            , #{modifiedTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--更新表:QZGW_KEY_MANAGER-->
    <update id="update" >
        UPDATE /*MS-QZGW-KEY-MANAGER-UPDATE*/ QZGW_KEY_MANAGER
        SET
            ORG_CODE        = #{orgCode,jdbcType=VARCHAR}
            ,MODIFIER        = #{modifier,jdbcType=VARCHAR}
            ,PUBLIC_KEY      = #{publicKey,jdbcType=VARCHAR}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,PRIVATE_KEY     = #{privateKey,jdbcType=VARCHAR}
            ,MODIFIED_TIME   = #{modifiedTime,jdbcType=TIMESTAMP}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:QZGW_KEY_MANAGER-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-QZGW-KEY-MANAGER-DELETEBYPRIMARY*/ FROM
            QZGW_KEY_MANAGER
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:QZGW_KEY_MANAGER-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-QZGW-KEY-MANAGER-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM QZGW_KEY_MANAGER
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="loadAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM QZGW_KEY_MANAGER
    </select>


</mapper>
