<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dzjk.qzgw.dal.mapper.QzgwOrgInfoDOMapper">
    <!-- 自动生成,请修改 QZGW_ORG_INFO.xml -->
    <resultMap id="BaseResultMap"  type="com.dzjk.qzgw.dal.dataobject.QzgwOrgInfoDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="ORG_PWD" property="orgPwd" jdbcType="VARCHAR" javaType="String"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR" javaType="String"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR" javaType="String"/>
        <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" javaType="String"/>
        <result column="ORG_USER" property="orgUser" jdbcType="VARCHAR" javaType="String"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" javaType="String"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="MODIFIED_TIME" property="modifiedTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,ORG_PWD,STATUS,CREATOR,ORG_CODE,ORG_USER,MODIFIER,CREATE_TIME,MODIFIED_TIME
    </sql>


    <!--插入表:QZGW_ORG_INFO-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO QZGW_ORG_INFO(
            ID
            ,ORG_PWD
            ,STATUS
            ,CREATOR
            ,ORG_CODE
            ,ORG_USER
            ,MODIFIER
            ,CREATE_TIME
            ,MODIFIED_TIME
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{orgPwd,jdbcType=VARCHAR}
            , #{status,jdbcType=VARCHAR}
            , #{creator,jdbcType=VARCHAR}
            , #{orgCode,jdbcType=VARCHAR}
            , #{orgUser,jdbcType=VARCHAR}
            , #{modifier,jdbcType=VARCHAR}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{modifiedTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--更新表:QZGW_ORG_INFO-->
    <update id="update" >
        UPDATE /*MS-QZGW-ORG-INFO-UPDATE*/ QZGW_ORG_INFO
        SET
            ORG_PWD         = #{orgPwd,jdbcType=VARCHAR}
            ,STATUS          = #{status,jdbcType=VARCHAR}
            ,ORG_CODE        = #{orgCode,jdbcType=VARCHAR}
            ,ORG_USER        = #{orgUser,jdbcType=VARCHAR}
            ,MODIFIER        = #{modifier,jdbcType=VARCHAR}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,MODIFIED_TIME   = #{modifiedTime,jdbcType=TIMESTAMP}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:QZGW_ORG_INFO-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-QZGW-ORG-INFO-DELETEBYPRIMARY*/ FROM
            QZGW_ORG_INFO
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:QZGW_ORG_INFO-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-QZGW-ORG-INFO-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM QZGW_ORG_INFO
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="loadAll" resultMap="BaseResultMap">
        SELECT /*MS-QZGW-ORG-INFO-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM QZGW_ORG_INFO
    </select>

</mapper>
