<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dzjk.qzgw.dal.mapper.QzgwCacheRefreshSyncDOMapper">
    <!-- 自动生成,请修改 QZGW_CACHE_REFRESH_SYNC.xml -->
    <resultMap id="BaseResultMap"  type="com.dzjk.qzgw.dal.dataobject.QzgwCacheRefreshSyncDO">
        <result column="NAME" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="LATEST_NO" property="latestNo" jdbcType="INTEGER" javaType="Integer"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="SERVICE_CODE" property="serviceCode" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>


    <sql id="Base_Column_List">
        NAME,LATEST_NO,CREATE_TIME,MODIFY_TIME,SERVICE_CODE
    </sql>


    <!--插入表:QZGW_CACHE_REFRESH_SYNC-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO QZGW_CACHE_REFRESH_SYNC(
            NAME
            ,LATEST_NO
            ,CREATE_TIME
            ,MODIFY_TIME
            ,SERVICE_CODE
        )VALUES(
             #{name,jdbcType=VARCHAR}
            , #{latestNo,jdbcType=INTEGER}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{modifyTime,jdbcType=TIMESTAMP}
            , #{serviceCode,jdbcType=VARCHAR}
        )
    </insert>

    <!--更新表:QZGW_CACHE_REFRESH_SYNC-->
    <update id="update" >
        UPDATE /*MS-QZGW-CACHE-REFRESH-SYNC-UPDATE*/ QZGW_CACHE_REFRESH_SYNC
        SET
            LATEST_NO       = #{latestNo,jdbcType=INTEGER}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,MODIFY_TIME     = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE
            NAME            = #{name,jdbcType=VARCHAR}
            AND SERVICE_CODE    = #{serviceCode,jdbcType=VARCHAR}
    </update>

    <!--根据主键删除数据:QZGW_CACHE_REFRESH_SYNC-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-QZGW-CACHE-REFRESH-SYNC-DELETEBYPRIMARY*/ FROM
            QZGW_CACHE_REFRESH_SYNC
        WHERE
            NAME = #{name,jdbcType=VARCHAR}
            AND SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR}
    </delete>

    <!--根据主键获取数据:QZGW_CACHE_REFRESH_SYNC-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-QZGW-CACHE-REFRESH-SYNC-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM QZGW_CACHE_REFRESH_SYNC
        WHERE
            NAME = #{name,jdbcType=VARCHAR}
            AND SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR}
    </select>
</mapper>
